# This file contains common pin mappings for the BIGTREETECH Kraken.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.

[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include fluidd.cfg]
[include KAMP_Settings.cfg]
[include macros/*.cfg]

[mcu]
canbus_uuid: 7428028a86ee

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 8000
max_z_velocity: 30
max_z_accel: 100

[idle_timeout]
timeout: 8000

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[force_move]
enable_force_move: True

[rounded_path]
resolution: 0.2
replace_g0: False

[exclude_object]

[firmware_retraction]
retract_length: 0.45
retract_speed: 32.5
unretract_extra_length: 0
unretract_speed: 30

[gcode_arcs]
resolution: 0.1

# S1
[stepper_x]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PE6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  
endstop_pin: ^PF0
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 90 
homing_retract_dist: 0

# S2
[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400  
endstop_pin: ^PF1
position_min: -20
position_endstop: 350
position_max: 350
homing_speed: 90
homing_retract_dist: 0

# S5
[stepper_z]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 375
position_min: -3
homing_speed: 70
second_homing_speed: 10
homing_retract_dist: 0

# S6
[stepper_z1]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

# S7
[stepper_z2]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

# S8
[stepper_z3]
step_pin: PG15
dir_pin: PB6
enable_pin: !PG14
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

########################################
# TMC2160 configuration
########################################

# S1
[tmc5160 stepper_x]
cs_pin: PD6
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
interpolate: False
run_current: 1.2
sense_resistor: 0.05   # <-- V1.1 uses 0.05 for drives 1-4
#diag1_pin: ^PC15      
#driver_SGT: 1

# S2
[tmc5160 stepper_y]
cs_pin: PD5
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
interpolate: False
run_current: 1.2
sense_resistor: 0.05   # <-- V1.1 uses 0.05 for drives 1-4
#diag1_pin: ^!PF0      
#driver_SGT: 1

# S3
#[tmc5160 stepper_x1]
#cs_pin: PD4
#spi_software_sclk_pin: PC6
#spi_software_mosi_pin: PC8
#spi_software_miso_pin: PC7
##diag1_pin: PF1
#run_current: 0.650
#sense_resistor: 0.022
#stealthchop_threshold: 999999

# S4
#[tmc5160 stepper_y1]
#cs_pin: PD3
#spi_software_sclk_pin: PC6
#spi_software_mosi_pin: PC8
#spi_software_miso_pin: PC7
##diag1_pin: PF2
#run_current: 0.800
#sense_resistor: 0.022
#stealthchop_threshold: 999999

[tmc5160 stepper_z]
cs_pin: PD2
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 999999

[tmc5160 stepper_z1]
cs_pin: PA15
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 999999

[tmc5160 stepper_z2]
cs_pin: PA9
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 999999

[tmc5160 stepper_z3]
cs_pin: PA10
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 0.800
sense_resistor: 0.075
stealthchop_threshold: 999999

[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
points:
   10,10
   10,330
   330,330
   330,10
speed: 350
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.025
max_adjust: 20

[bed_mesh]
speed: 75
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 340, 340
probe_count: 15, 15
algorithm: bicubic

# BED
[heater_bed]
heater_pin: PF6
sensor_pin: PB0
sensor_type: ATC Semitec 104GT-2
#control: watermark
min_temp: 0
max_temp: 115

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 115

#[fan]
#pin: PA0

#[heater_fan fan1]
#pin: PA1

#[heater_fan fan2]
#pin: PA2

#[fan_generic fan3]
#pin: PA3

#[fan_generic fan4]
#pin: PA4

#[fan_generic fan5]
#pin: PA5

#[fan_generic fan6]
#pin: PA6
#tachometer_pin: PC1

#[fan_generic fan7]
#pin: PE8
#tachometer_pin: PG0

[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG5, EXP1_2=PG4,
    EXP1_3=PG3, EXP1_4=PG2,
    EXP1_5=PD15, EXP1_6=PD14,
    EXP1_7=PD13, EXP1_8=PD12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG8, EXP2_4=PE11,
    EXP2_5=PG7, EXP2_6=PE14,
    EXP2_7=PG6, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[output_pin ps_on_pin]
#pin: PD10

#[neopixel my_neopixel_1]
#pin: PF12

#[neopixel my_neopixel_2]
#pin: PF11

#[hall_filament_width_sensor]
#adc1: PC2
#adc2: PC3

#[adxl345]
#cs_pin: PE10
#spi_bus: spi4

#[servo servo_motor]
#pin: PE7

#i2c_bus:i2c2_PB10_PB11

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.453
#*# pid_ki = 2.283
#*# pid_kd = 324.674
#*#
#*# [tool_probe_endstop]
#*# z_offset = -1.290
