#####################################################################
#   A better print_start macro for v2/trident
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Nevermore (if you have one)
## Z_TILT_ADJUST (For Trident only)
## QUAD_GANTRY_LEVEL (For V2.4 only)
## Beacon Contact logic (if you have one. 4 lines at 4 locations)

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|default(0)|int %}
  {% set t0_temp = params.T0_TEMP|default(target_extruder)|int %}
  {% set t1_temp = params.T1_TEMP|default(0)|int %}
  {% set standby_temp = 150 %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  {% set initial_tool = params.TOOL|default(0)|int %}

  ##  Uncomment for Beacon Contact (1 of 4 for beacon contact)
#  SET_GCODE_OFFSET Z=0                                 # Set offset to 0

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  {% if t0_temp > 0 %}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={standby_temp}
  {% endif %}
  {% if t1_temp > 0 %}
    SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={standby_temp}
  {% endif %}
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={target_bed}
  STATUS_HOMING                                         # Set LEDs to homing-mode
  G90                                                   # Absolute position
  M83                                                   # Extruder relative mode
  G32                                                   # Full home (XYZ)
  
  T{initial_tool}                                       # Load Initial Tool
  
  M190 S{target_bed}                                    # Wait for bed temp
  ##  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S150                                             # Heat hotend to 150c

  ##  Uncomment for Beacon contact (2 of 4 for beacon contact)
#  G28 Z METHOD=CONTACT CALIBRATE=1                     # Calibrate z offset and beacon model

  ##  Uncomment for V2.4 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  STATUS_LEVELING                                      # Set LEDs to leveling-mode
  QUAD_GANTRY_LEVEL                                    # Level the printer via QGL
  G28 Z                                                # Home Z again after QGL

  ##  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                      # Display info on display
  STATUS_MESHING                                       # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE ADAPTIVE=1                                   # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh

  ## Uncomment for Beacon Contact (3 of 4 for beacon contact)
#  G28 Z METHOD=CONTACT CALIBRATE=0                     # Calibrate z offset only with hot nozzle

  # Heat up the hotends
  SET_DISPLAY_TEXT MSG="Heating Tools"                  # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  
  # Heat active tool to target, and inactive tools to standby
  {% if initial_tool == 0 %}
    {% if t1_temp > 0 %}
      SET_HEATER_TEMPERATURE HEATER=extruder1 TARGET={standby_temp}
    {% endif %}
    {% if t0_temp > 0 %}
      M109 S{t0_temp}
    {% endif %}
  {% elif initial_tool == 1 %}
    {% if t0_temp > 0 %}
      SET_HEATER_TEMPERATURE HEATER=extruder TARGET={standby_temp}
    {% endif %}
    {% if t1_temp > 0 %}
      M109 S{t1_temp}
    {% endif %}
  {% endif %}

  ##   Uncomment for Beacon Contact (4 of 4 for beacon contact)
#  SET_GCODE_OFFSET Z=0.1      # 0.06                    # Add a little offset for hotend thermal expansion

  # Get ready to print by doing a primeline and updating the LEDs
  SET_DISPLAY_TEXT MSG="Printer goes brr"               # Display info on display
  STATUS_PRINTING                                       # Set LEDs to printing-mode
  G0 X{x_wait - 50} Y4 F10000                           # Go to starting point
  G0 Z0.4                                               # Raise Z to 0.4
  G91                                                   # Incremental positioning 
  VORON_PURGE
##  G1 X100 E20 F1000                                     # Primeline
  G90                                                   # Absolute position